<p class="mt-4">Dodaj nowe zadanie:</p>
<input class="form-control" #name name="todo">
<button type="button" class="btn btn-primary mt-3" (click)="addTodo(name.value)">Dodaj zadanie</button>

<div class="mt-5">
  <h4>Zadania:</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todos; index as i">
      <input
        type="checkbox"
        class="form-check-input my-1"
        [checked]="todo.isComplete"
      >
      <span class="todo-item">{{ i + 1}}. {{todo.name}}</span>
    </li>
  </ul>
</div>
